body{
    margin: 0;
    padding: 0;
}
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "ALS Hauss Regular";
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
a{
    color: black;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}
.logo__wrapper{
    display: flex;
    gap: 70px;
    cursor: pointer;
}
.logo__wrapper img{
    align-self: center;
}
.header__list{
    display: flex;
    gap: 30px;
    align-items: center;
}
.__wrapper-list{
    height: 60px;
    border-left: 1px solid #1B14001F;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.header__list select{
    height: 30px;
    border: 0;
}
.header__list button{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #FFCC33;
    border-radius: 8px;
    border: 1px solid #FFCC33;
}
nav{
    height: 40px;
    padding: 0 90px;
    border-bottom: 0.5px solid gray;
    background: #C4C4C499;
    background: #ece9e999;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}
nav a{
    color: #1B140066;
}
.portfolio{
    display: flex;
    background: #ece9e999;
}
.portfolio__text{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 90px 0 ;
}
.__wrapper-title h1{
    margin-bottom: -10px;
}
.__wrapper-title p{
    font-size: 13px;
    color: #4c4b4b99;
}
.__wrapper-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info{
    margin-top: 30px;
}
.contact-info ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Natalya__wrapper{
    padding: 30px 90px;
}
.btn__wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn__wrapper>.white-btn{
    padding: 10px 0;
    border: 0;
    border-radius: 8px;
    background: #fff;
}
.yellow-btn{
    padding: 10px 0;
    border: 0;
    border-radius: 8px;
    background: #FFCC33;
}
footer{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    gap: 20px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.footer-logo p{
    width: 120px;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.list-title h1{
    font-size: 15px;
}
.list-wrapper{
    display: flex;
    gap: 30px;

}
.list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper-3 ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper ul{
    padding: 0;
    align-self: center;
}
.list-wrapper-3 h1{
    margin-bottom: 25px;
}
.footer-bootom{
    display: flex;
    justify-content: space-between;
    padding: 0 90px;
    margin-top: 30px;
}
.footer-bootom p{
    width: 220px;
    color: #1B1400;
    opacity: 50%;
    line-height: 20px;
}
.bars{
    display: none;
}
.about__Natalya-wrapper{
    display: none;
}
@media screen and (max-width:375px) {
    .container{
        widows: 90%;
        margin: 0 auto;
    }
    header{
        width: 100%;
        padding: 0 ;
    }
    .logo__wrapper{
        width: 100%;
        padding: 10px 20px;
        gap: 0;
        justify-content: space-between;
    }
    .header__list{
        display: none;
    }
    .__wrapper-list{
        padding: 0;
        display: none;
    }
    .bars{
        display: flex;
        align-items: center;
        font-size: 20px;
    }
    .logo__wrapper img{
        width: 30px;
    }
    nav{
        display: none;
    }
    .portfolio{
        background: #fff;
        padding: 20px 0 0 20px;
        flex-direction: row-reverse;
        gap: 20px;
    }
    .portfolio__text{
        padding: 0;
    }
    .__wrapper-text{
        display: none;
    }
    .contact-info{
        display: none;
    }
    .Natalya__wrapper{
        padding: 0;
    }
    .Natalya__wrapper img{
        width: 150px;
    }
    .btn__wrapper{
        display: none;
    }
    .__wrapper-title h1{
        font-size: 23px;
        font-weight: 400;
        line-height: 27px;
        margin-top: -4px;
    }
    .__wrapper-title p{
        font-size: 14px;
        line-height: 24px;
    }
    .about__Natalya-wrapper{
        display: block;
        padding: 0 20px;
    }
    .about-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: left;
        font-family: 'Arial';
    }
    .about-address h1{
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgb(172, 171, 171);
        font-family: 'Arial';
    }
    .about-address p{
        font-family: ALS Hauss;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: left;
        font-family: 'Arial';
    }
    .coming-correspondence h1{
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;
        color: rgb(172, 171, 171);
    }
    .about-address{
        border-top: 1px solid rgb(232, 231, 231);
        border-bottom: 1px solid rgb(232, 231, 231);
    }
    .coming-correspondence p{
        font-family: ALS Hauss;
        font-size: 13px;
        font-weight: 600;
        line-height: 20px;
        letter-spacing: 0.02em;
        text-align: left;
        font-family: 'Arial';
    }
    .about-btn-wrapper{
        margin-top: 100px;
        padding-top: 10px;
        padding-bottom: 70px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        border-top: 1px solid rgb(232, 231, 231);
        border-bottom: 3px solid rgb(232, 231, 231);
    }
    .about-btn-wrapper button{
        width: 100%;
        padding: 14px 0;
        font-size: 15px;
    }
    .about-btn-wrapper >.white-btn{
        border-radius: 8px;
        border: 1px solid rgb(194, 194, 194);
        font-size: 15px;
        padding: 14px 0;
        background: #fff;
    }
    footer{
        flex-direction: column;
        padding: 0 20px;
    }
    .footer-logo{
        width: 100%;
        padding: 20px 0;
        padding-bottom: 70px;
        flex-direction: row;
        gap: 10px;
        border-top: 0;
        border-bottom: 1px solid rgb(232, 231, 231);
    }
    .footer-logo p{
        width: 100%;
    }
    .list-wrapper{
        flex-direction: column;
        padding: 0;
        gap: 0;
    }
    .footer-list{
        gap: 0;
        justify-content: flex-start;
    }
    .list-wrapper ul li a{
        opacity: 50%;
    }
    .list-wrapper-3 ul li a{
        opacity: 50%;
    }
    .list-wrapper-3{
        border-top: 1px solid rgb(232, 231, 231);
        padding: 10px 0 10px 0;
        border-bottom: 1px solid rgb(232, 231, 231);
    }
    .footer-bootom{
        justify-content: flex-start;
        padding: 0 10px;
        flex-wrap: wrap;
    }
    .app-img-wraaper{
        display: flex;
        gap: 10px;
        padding-bottom: 30px;
    }
}
