body{
    margin: 0;
    padding: 0;
}
*{
    list-style: none;
    text-decoration: none;
    font-family: 'Arial';
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
a{
    color: black;
}
.container{
    width: 100%;
    margin: 0 auto;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 10px 90px;
}
.logo__wrapper{
    display: flex;
    gap: 70px;
    cursor: pointer;
}
.logo__wrapper img{
    align-self: center;
}
.header__list{
    display: flex;
    gap: 30px;
    align-items: center;
}
.__wrapper-list{
    height: 60px;
    border-left: 1px solid #1B14001F;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.header__list select{
    height: 30px;
    border: 0;
}
.header__list button{
    height: 40px;
    width: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #FFCC33;
    border-radius: 8px;
    border: 1px solid #FFCC33;
}
nav{
    height: 40px;
    padding: 0 90px;
    border-bottom: 0.5px solid gray;
    background: #C4C4C499;
    background: #ece9e999;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 10px;
}
nav a{
    color: #1B140066;
}
.portfolio{
    display: flex;
    height: 100vh;
    background: #ece9e999;
}
.portfolio__text{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 90px;
}
.__wrapper-title h1{
    margin-bottom: -10px;
}
.__wrapper-title p{
    font-size: 13px;
    color: #4c4b4b99;
}
.__wrapper-text{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact-info{
    margin-top: 30px;
}
.contact-info ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Natalya__wrapper{
    padding: 30px 0;
}
.btn__wrapper{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.btn__wrapper>.white-btn{
    padding: 10px 0;
    border: 0;
    border-radius: 8px;
    background: #fff;
}
.yellow-btn{
    padding: 10px 0;
    border: 0;
    border-radius: 8px;
    background: #FFCC33;
}
footer{
    display: flex;
    padding: 40px 0;
    justify-content: space-evenly;
    gap: 20px;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.footer-logo p{
    width: 120px;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.list-title h1{
    font-size: 15px;
}
.list-wrapper{
    display: flex;
    gap: 30px;

}
.list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper-3 ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper ul{
    padding: 0;
    align-self: center;
}
.list-wrapper-3 h1{
    margin-bottom: 25px;
}
.footer-bootom{
    display: flex;
    justify-content: space-between;
    padding: 0 110px;
    margin-top: 30px;
}
.footer-bootom p{
    width: 220px;
    color: #1B1400;
    opacity: 50%;
    line-height: 20px;
}
@media screen and (max-width:375px) {
    .container{
        widows: 90%;
        margin: 0 auto;
    }
}