body{
    margin: 0;
    padding: 0;
    background: #eaeaea99;
}
*{
    list-style: none;
    text-decoration: none;
    font-family: "ALS Hauss Regular";
    box-sizing: border-box;
    color: black;
}
button{
    cursor: pointer;
    border: 0;
}
.container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
header{
    background: #fff;
}
.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 10px 0;
}
.logo__wrapper{
    display: flex;
    gap: 70px;
    cursor: pointer;
}
.logo__wrapper img{
    align-self: center;
}
.header__list{
    display: flex;
    gap: 40px;
    align-items: center;
}
.__wrapper-list{
    border-left: 1px solid #1B14001F;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.header__list select{
    height: 30px;
    border: 0;
}
.header__list button{
    padding: 7px 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #FFCC33;
    border-radius: 8px;
}
nav{
    height: 30px;
    border-bottom: 0.5px solid gray;
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 20px;
}
.nav__list{
    width: 100%;
    margin: 0 auto;
    max-width: 1220px;
    padding: 0 20px;
}
.home-page-wrapper{
    display: flex;
    width: 100%;
    max-width: 1220px;
    margin: 20px auto;
    padding: 20px 0;
    padding-right: 20px;
}
.home-btn-wrapper button{
    padding: 5px 10px;
    border: 0;
    border-radius: 8px;
}
.white-btn{
    background: #fff;
}
.blue-btn{
    background: rgba(218, 251, 255, 1);
}
.main-section{
    padding: 20px 0;
    background: transparent;
}
.aside-box{
    height: 100%;
    background: #fff;
    border-radius: 10px;
    padding: 10px 20px;
}
.aside-img-wrapper{
    border-top: 1px solid black;
}
.adress-title h1{
    font-size: 16px;
    color: rgba(27, 20, 0, 0.4);
    margin-bottom: 0;
}
.aside-data-wrapper h1{
    margin-bottom: -6px;
    color: rgba(27, 20, 0, 0.4);
    font-size: 16px;

}
.servise-title{
    width: 600px;
}
.servise-title h1{
    font-weight: 540;
    font-size: 32px;
    margin-bottom: 0;
}
.servise-text{
    width:800px;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-align: left;

}
.notification__wrapper{
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 0 
    20px;
    background: rgba(255, 255, 255, 1);
    border-radius: 8px;
}
.fa-bell-wrapper{
    display: flex;
    align-items: center;
    gap: 30px;
}
.message-title h1{
    font-size: 18px;
    margin: 0;
}
.bell__wrapper{
    width: 800px;
    padding: 40px 0;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.fa-bell{
    align-self: center;
}
.long-text{
    margin-top: 30px;
}
.fa-regularr{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(195, 213, 224, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(195, 213, 224, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
}
.historical-image{
    display: flex;
}
.historical-image img{
    width: 100%;
}
.download-row-1{
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin-top: 20px;
    gap: 10px;
    border-radius: 8px;
}
.download-row-1:hover{
    background: #FFCC33;
}
.download-text{
    display: flex;
    flex-direction: column;
}
.download-text h1{
    font-size: 17px;
    font-weight: 100;
    margin: 0;
    margin-bottom: 10px;
}
.download-text span{
    margin: 0 6px;
}
.icon-wrapper{
    width: 670px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dwn-icon{
    display: flex;
    align-items: center;
}
.icon-box{
    display: flex;
    align-items: center;
}
.fa-download{
    padding: 0 30px;
}
.fa-eye{
    padding: 0 30px;
}
.see-more{
    display: flex;
    justify-content: center;
    gap: 10px;
    border-radius: 5px;
    margin-top: 30px;
}
.see-more button{
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    background: #fff;
}
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
.footer-logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    cursor: pointer;
}
.footer-logo p{
    width: 120px;
}
.footer-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.list-title h1{
    font-size: 15px;
}
.list-wrapper{
    display: flex;
    gap: 30px;

}
.list-wrapper ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper-3 ul{
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-wrapper ul{
    padding: 0;
    align-self: center;
}
.list-wrapper-3 h1{
    margin-bottom: 25px;
}
.footer-bootom{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.footer-bootom p{
    width: 220px;
    color: #1B1400;
    opacity: 50%;
    line-height: 20px;
}
