@media (max-width: 1275px) {
    @mixin font {
        font-size: 16px;
        font-weight: 500;
        vertical-align: middle;
    }
    header {
        margin: 0;
        padding: 10px 100px 10px;
    }
    .header-container {
        margin-right: 200px;
    }
    .header-wrapper div {
        a {
            padding: 18px;
        }
    }
    section {
        padding-top: 105px;
    }
    .second-header {
        padding: 0 100px 20px;
    }
    .second-container {
        padding: 0 100px;
    }
    .second-header__wrapper {
        padding: 5px 100px;
        button {
            padding: 5px 10px;
            margin-right: 5px;
        }
    }
    .main {
        padding: 70px 100px;
    }
    footer{
        background-color: #fff;
        padding: 50px 100px 0;
    }
    .footer-logo{
        gap: 15px;
        p{
            @include font;
            width: 200px;
        }
    }
    .footer-container {
        gap: 50px;
    }
    .footer-wrapper{
        .footer-title {
            @include font;
            .footer-list {
                display: flex;
                gap: 50px;
            }
        }
    }
}
@media (max-width: 1150px) {
    .second-header__wrapper {
        display: none;
    }
    .footer-container {
        flex-wrap: wrap;
    }
    .footer-logo{
        gap: 10px;
        justify-content: center;
        align-items: center;
        p {
            width: auto;
        }
    }
}
@media (max-width:800px) {
    header {
        margin: 0;
        padding: 10px 50px 10px;
    }
    .header-container {
        margin-right: 100px;
    }
    .header-wrapper div {
        gap: 15px;
        a {
            padding: 18px 5px 18px;
        }
    }
    .header-title ul {
        gap: 15px;
    }
    section {
        padding-top: 105px;
    }
    .second-header {
        padding: 0 50px 20px;
    }
    .second-container {
        padding: 0 50px;
    }
    .main {
        padding: 70px 50px;
    }
    .main-wrapper {
        flex-wrap: wrap;
    }
    footer{
        background-color: #fff;
        padding: 50px 50px 0;
    }
    .footer-container {
        gap: 30px;
    }
    .footer-wrapper{
        .footer-title {
            .footer-list {
                display: flex;
                gap: 30px;
            }
        }
    }
    .footer-bottom {
        flex-wrap: wrap;
    }
}
@media (max-width:600px) {
    @mixin font {
        font-size: 14px;
        font-weight: 500;
        vertical-align: middle;
    }
    header {
        padding: 10px 30px;
    }
    .header-container {
        padding: 0;
    }
    .header-wrapper div {
        gap: 15px;
        a {
            padding: 15px;
            @include font;
        }
    }
    .header-bars {
        display: block;
        margin: 0;
        padding-top: 10px;
    }
    .header-title {
        display: none;
    }
    section {
        padding-top: 105px;
    }
    .second-header {
        padding: 0 30px 20px;
        gap: 10px;
        a {
            @include font;
            font-size: 14px;
            color: #1B140066;
        }
    }
    .second-container {
        padding: 0 30px;
        h1 {
            @include font;
            font-size: 30px;
        }
        p {
            @include font;
        }
    }
    .main {
        padding: 70px 30px;
    }
    .main-wrapper {
        display: flex;
        gap: 50px;
        .main-title {
            background-color: #fff;
            padding: 20px;
            border-radius: 12px;
            h3 {
                font-weight: 550;
                font-size: 17px;
                line-height: 24px;
            }
            p {
                font-size: 15px;
            }
            .main-svg {
                span {
                    font-size: 15px;
                }
            }
        }
    }
    .main-button {
        button {
            font-size: 14px;
        }
    }
    .main-svg {
        font-size: 15px;
        span {
            font-size: 16px;
        }
    }
    .main-date {
        font-size: 15px;
    }
        footer{
            background-color: #fff;
            padding: 50px 30px 0;
            h1 {
                text-align: center;
            }
        }
        .footer-container {
            justify-content: center;
        }
        .footer-wrapper {
            justify-content: center;
        }
        .footer-list {
            flex-wrap: wrap;
            justify-content: center;
        }
        .footer-bottom__images {
            flex-wrap: wrap;
        }
}
